<h3 ng-if="C.record.Id==null">Create {{.Cname}}</h3>
<h3 ng-if="C.record.Id!=null">Update {{.Cname}}</h3>
      
<div ng-form="form">
  {{range $k,$v := .ClientModelViewAttrs}} 
  {{range $k0,$v0 := $v}} 
    {{if eq $v0 "int"}}
      {{template "int" (print $k "." $k0)}}
    {{else if eq $v0 "String"}}  
      {{template "String" (print $k "." $k0)}}
    {{else if eq $v0 "DateTime"}}  
      {{template "DateTime" (print $k "." $k0)}}
    {{else if eq $v0 "bool"}}  
      {{template "bool" (print $k "." $k0)}}
    {{else if eq $v0 "num"}}  
      {{template "num" (print $k "." $k0)}}
    {{end}}
  {{end}}
  {{end}}

  <button class="btn btn-default" ng-click="C.submit(form)">Save</button>
</div>

<a href="#/">Back to List</a>


