<h3 ng-if="record.Id==null">Create {{.Cname}}</h3>
<h3 ng-if="record.Id!=null">Update {{.Cname}}</h3>
      
<div ng-form="form">
  {{range $k,$v := .ClientModelViewAttrs}} 
    {{if eq $v "Int"}}
      {{template "int" $k}}
    {{else if eq $v "String"}}  
      {{template "String" $k}}
    {{else if eq $v "DateTime"}}  
      {{template "DateTime" $k}}
    {{else if eq $v "Bool"}}  
      {{template "bool" $k}}
    {{else if eq $v "Num"}}  
      {{template "num" $k}}
    {{end}}
  {{end}}
  <button class="btn btn-default" ng-click="submit(form)">Save</button>
</div>

<a href="/#/{{.Name}}s">Back to List</a>


